#wrap{
	width: 100%;
	margin: 0 auto;
}
a{
	font-family: "Cinzel";
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
	background: black;
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(http://themes.googleusercontent.com/static/fonts/cinzel/v2/PPYkMH2Vr9iqUFBaz60XpevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans 2';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v5/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
header{
	font-family: "Josefin Sans 2";
	text-align: center;
	font-size: 48px;
	padding: 50px 0px;
	width: 100%;
	color: white;
	background-color: black;
	position: fixed;
	top: 0px;
}
nav {
	border-bottom: 1px solid black; 
	border-top: 1px solid black;
	position: fixed;
	top: 148px;
	width: 100%;
	background-color: white;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 15px;
}
nav ul li{
	display: inline;
	margin: 5%;
}
section {
	margin-top: 220px;
	font-family: "Josefin Sans 2";
	text-align: center;
}
section img, iframe{
	border: 1px solid black;
}
#caption{
	margin: 2%;
	margin-bottom: 5%
}
#date{
	font-family: "Cinzel";
	font-size: .5em
}
footer{
	margin: 2%;
	text-align: center;
	font-family: "Cinzel";
	font-size: .5em
}
