
  .sidebar{
    position: relative;
    top: 20%;
    float:left;
    width:30%;
    background:red;
  }

  .content{
    position: relative;
    top: 20%;
    float:right;
    width:65%;
    background:black;
  }

  .footer {
    position: absolute; 
    bottom: 10px; 
    left:60px; 
    background-color: yellow;
  }

  .header {
    position: absolute; 
    top: 10px; 
    left:60px; 
    background-color: yellow;
  }
