*{
	margin: 0px;
	padding: 0px;
}

#center_maker {
	width: 960px;
	margin: 0px auto;
}

#page_header {
	text-align: center;
	margin: 10px;
}

#page_nav ul{
	list-style-type: none;

}

#page_nav ul li{
	display: inline;
	margin: 20 px;
}